.page-title {
  margin-bottom: 60px;
}

.deployment-container {
  margin-left: 60px;
  margin-bottom: 120px;
}

.deployment-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 60px;
}

.map-container {
  width: 100%;
  height: 100%;
  flex: 5;
  margin-bottom: 30px;
}


.map {
  background: url('../images/rome-map.jpg');
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
}

.map::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.3;
}

.map-inner {
  height: 90%;
  width: 90%;
  border-radius: 50%;
}

.map-origin {
  font-size: 24px;
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: red;
  pointer-events: none;
}

.stats-container {
  flex: 3;
  display: flex;
}

.actions-container {
  position: fixed;
  bottom: 0;
  height: 70px;
  background-color: #eee;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.actions-container button {
  padding: 8px 40px;
  margin: 0 16px;
}

.nanite {
  position: absolute;
}

.nanite:nth-of-type(1) {
  top: 10%;
  left: 30%;
}

.nanite:nth-of-type(2) {
  top: 22%;
  left: 83%;
}

.nanite:nth-of-type(3) {
  top: 91%;
  left: 47%;
}

.nanite:nth-of-type(4) {
  top: 75%;
  left: 20%;
}

.nanite:nth-of-type(5) {
  top: 30%;
  left: 44%;
}

.nanite-inner {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  float: left;
  background: #007bff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-animation: pulse 1s 0s ease-out infinite;
  -moz-animation: pulse 1s 0s ease-out infinite;
  animation: pulse 1s 0s ease-out infinite;
}

@-webkit-keyframes pulse {
  0% { box-shadow: 0 0 4px 2px rgba(0,123,255, .5), 0 0 0px 0px transparent, 0 0 0px 0px rgba(0,123,255, .7); }
  10% {
    transform: scale(1, 1);
    box-shadow: 0 0 4px 2px rgba(0,123,255, .5), 0 0 8px 10px transparent, 0 0 8px 14px rgba(0,123,255, .7);
  }
  100% { box-shadow: 0 0 4px 2px rgba(0,123,255, 0), 0 0 0px 24px transparent, 0 0 0px 24px rgba(0,123,255, 0); }
}

@-moz-keyframes pulse {
  0% { box-shadow: 0 0 4px 2px rgb(0,123,255), 0 0 0px 0px transparent, 0 0 0px 0px rgb(0,123,255); }
  10% { box-shadow: 0 0 4px 2px rgb(0,123,255), 0 0 8px 10px transparent, 0 0 8px 14px rgb(0,123,255); }
  100% { box-shadow: 0 0 4px 2px rgba(0,123,255, 0), 0 0 0px 24px transparent, 0 0 0px 24px rgba(0,123,255, 0); }
}

@keyframes pulse {
  0% { box-shadow: 0 0 4px 2px rgb(0,123,255), 0 0 0px 0px transparent, 0 0 0px 0px rgb(0,123,255); }
  10% { box-shadow: 0 0 4px 2px rgb(0,123,255), 0 0 8px 10px transparent, 0 0 8px 14px rgb(0,123,255); }
  100% { box-shadow: 0 0 4px 2px rgba(0,123,255, 0), 0 0 0px 24px transparent, 0 0 0px 24px rgba(0,123,255, 0); }
}



@media (min-width: 992px) {
  .deployment-container {
    margin-bottom: 60px;
  }

  .deployment-wrapper {
    flex-direction: row;
  }

  .map-container {
    height: 600px;
    width: 600px;
    margin-bottom: 0;
  }

  .stats-container {
    margin-left: 30px;
    flex-direction: column;
  }
}