.settings-wrapper {
  max-width: 100vw;
  padding: 30px;
}

.settings-box {
  margin: 0 auto;
  max-width: 600px;
}

label {
  font-weight: 500;
}

.form-check label {
  font-weight: 400;
  margin-left: 4px;
}