<!-- https://travishorn.com/building-json2table-turn-json-into-an-html-table-a57cf642b84a I used this resource to build the table, but even so I cannot
get it to work with loading the json from the separate file. I feel so out of my depth here. The JSON is really throwing me. I built tables using data from SQL for my
340 project, but I can't figure out how to parse this. -->

<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include partials/pageStyles %>

<body>
<% include partials/navbar %>

<div class="container">
  <div class="page-header">
    <h1>Deployment History</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
     
    </div><!-- /col -->
    <div id="tableGoesHere" class="col-md-6">
      
    </div><!-- col -->
  </div><!-- /row -->
</div><!-- container -->

  <% include partials/pageScripts %>

<script type="text/javascript">
function json2table(json, classes) {
  var cols = Object.keys(json[0]);
  
  var headerRow = '';
  var bodyRows = '';
  
  classes = classes || '';
  function capitalizeFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
  }
  cols.map(function(col) {
    headerRow += '<th>' + capitalizeFirstLetter(col) + '</th>';
  });
  json.map(function(row) {
    bodyRows += '<tr>';
    cols.map(function(colName) {
      bodyRows += '<td>' + row[colName] + '</td>';
    })
    bodyRows += '</tr>';
  });
  return '<table class="' +
         classes +
         '"><thead><tr>' +
         headerRow +
         '</tr></thead><tbody>' +
         bodyRows +
         '</tbody></table>';
}
/* How to use it */
var defaultData = [
  {
      "email": "michaelscott@dundermifflin.com",
      "date": "2016-04-03",
      "hours": 1,
      "minutes": 36,
      "city": "Corvallis",
      "state": "Oregon",
      "Collected": "Americium, Radon",    
      "amount": 3.71,
      "measurement": "pLi"
    },
  {
      "email": "michaelscott@dundermifflin.com",
      "date": "2018-08-03",
      "hours": 11,
      "minutes": 6,
      "city": "Houston",
      "state": "Texas",
      "Collected": "Oil",    
      "amount": 12,
      "measurement": "mL"
    }
]
document.getElementById('tableGoesHere').innerHTML = json2table(defaultData, 'table');
/* Live example */
var dom = {
  data: document.getElementById('data'),
  table: document.getElementById('tableGoesHere'),
};
dom.data.value = JSON.stringify(defaultData);
dom.data.addEventListener('input', function() {
  dom.table.innerHTML = json2table(JSON.parse(dom.data.value), 'table');
});
</script>
</body>
</html>