<link rel='stylesheet' href='/stylesheets/navbar.css' />
<header class="mb-5">
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white">
    <h1 class="nav-item navbar-brand">Bioremediation</h1>

    <!-- Right-Side links -->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">

        <!-- determine these links based on session status -->
        <% if (locals.session == undefined || !locals.session.user) { %>
        <li class="nav-item nav-login">
          <h2 class="nav">Please Login</h2>
        </li>
        <% } else { %>

        <li class="nav-item nav-history">
          <h2 class="nav"><%= session.user %></h2>
        </li>
        <% } %>

      </ul>
    </div>
  </nav>
</header>


<!-- all menu icons are free for use and come from:
      https://www.iconsdb.com/ -->
<!-- only show the menu if the user is logged in -->
<% if (locals.session && locals.session.user) { %>    
<div class="container">
  <div class="menu fixed-left d-inline-block h-100">
    <a href="/">
      <img class="menu-item" title="Home" src="/images/home.png">
    </a>

    <a href="#">
      <img class="menu-item" title="Simulation/Mapping" src="/images/simulate.png">
    </a>

    <a href="#">
      <img class="menu-item" title="Deployment/Tracking"src="/images/deploy.png">
    </a>

    <a href="#">
      <img class="menu-item" title="Nanite Driver Selection" src="/images/nanites.png">
    </a>

    <a href="#">
      <img class="menu-item" title="Rogue Nanite Tracker"src="/images/rogue.png">
    </a>

    <a href="#">
      <img class="menu-item" title="Report" src="/images/report.png">
    </a>

    <a href="/history">
      <img class="menu-item" title="History" src="/images/history.png">
    </a>

    <a href="/settings">
      <img class="menu-item" title="Settings" src="/images/settings.png">
    </a>
    
    <a href="/logout" id="menu-logout" title="Logout">
      <img class="menu-item" src="/images/logout.png">
    </a>  
  </div>
</div>
<% } %>