<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include partials/pageStyles %>
  </head>
  <body>
    <% include partials/navbar %>

    <main>
      <div class="container">
        <h1><%= title %></h1>
      </div>
    </main>


    <% include partials/pageScripts %>
  </body>
</html>
