<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include partials/pageStyles %>
  </head>
  <body>
    <% include partials/navbar %>


    <% include partials/pageScripts %>
  </body>
</html>
